<div class="card">
  <div class="card-header">
    <h4><%= expense.name %></h4>
  </div>
  <div class="card-body">
    <div class="field form-group">
      Сума: <%= expense.sum %>
    </div>
    <div class="field form-group">
      Категорія: <%= expense.category.title %>
    </div>
    <div class="field form-group">
      Опис: <%= expense.description %>
    </div>
  </div>
</div>
