<div class="card">
  <div class="card-header">
    <h4>Редагування</h4>
  </div>
  <div class="card-body">
    <%= render "form", expense: @expense %><br>
    <%= link_to "Назад", expense_path %>
  </div>
</div>
