<div class="card">
  <div class="card-header">
    <h4>Нова витрата</h4>
  </div>
  <div class="card-body">
    <%= render "form", expense: @expense %><br>
    <%= link_to "На головну", expenses_path %>
  </div>
</div>
