<%= render @expense %>
<br>
<div><%= link_to "Редагувати", edit_expense_path(@expense), class:"btn btn-secondary" %></div>
<br>
<div><%= button_to "Видалити", @expense, method: :delete, class: "btn btn-outline-danger" %></div>
<br>
<div><%= link_to "На головну", expenses_path %></div>
